{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Website</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div>
        <body>
            <form action="fetchweather">
              <h1>Weather finder</h1>
              <div class="formcontainer">
              <hr/>
              <div class="container">
                <label for="cname"><strong>Country Name</strong></label>
                <input id="Country" type="text" placeholder="Enter Country Name" name="cname" required>
                <label for="ciname"><strong>City Name</strong></label>
                <input type="text" placeholder="Enter City Name" name="ciname" required>
              </div>
              <button type="submit">Submit</button>
              </div>
            </form>
    </div>
</body>
</html>