
body{
    background-image: url(https://thumbs.dreamstime.com/z/cloudy-weather-happy-sun-cloud-summer-cartoon-cloudy-weather-happy-sun-cloud-summer-cartoon-illustration-143331308.jpg);
}
html, body {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}
.box {    
    box-sizing: border-box;
    background-color: rgba(252, 253, 253, 0.5);
    margin-top: 160px;
    margin:100px
    
}
h1 {
    text-align:center;
    font-size:18;
}
.formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
}
.container {
    padding: 16px 0;
    text-align:left;
}
.formcontainer h1{
        color: rgb(70, 49, 49);
        line-height: 30px;
}
button{
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
}